<div class="left-side-menu" style="border-right: 5px solid #EBEBEB!important;">

    <div class="h-100" data-simplebar>

        <!-- User box -->
        <div class="user-box text-center">

            <!-- <img src="/assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail avatar-md"> -->
            <!-- <img src="../../assets/images/icon2/people.png" alt="user-img" title="Amajnata" class="rounded-circle img-thumbnail avatar-md"> -->

            <svg width="40" height="40" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21.2319 19.1454V17.1454C21.2319 15.2816 19.9572 13.7155 18.2319 13.2715M14.7319 1.43621C16.1979 2.02959 17.2319 3.46676 17.2319 5.14545C17.2319 6.82414 16.1979 8.2613 14.7319 8.85469M16.2319 19.1454C16.2319 17.2817 16.2319 16.3498 15.9275 15.6147C15.5215 14.6346 14.7428 13.8559 13.7627 13.4499C13.0276 13.1454 12.0957 13.1454 10.2319 13.1454H7.23195C5.36818 13.1454 4.4363 13.1454 3.70122 13.4499C2.7211 13.8559 1.94241 14.6346 1.53643 15.6147C1.23195 16.3498 1.23195 17.2817 1.23195 19.1454M12.7319 5.14545C12.7319 7.35459 10.9411 9.14545 8.73195 9.14545C6.52281 9.14545 4.73195 7.35459 4.73195 5.14545C4.73195 2.93631 6.52281 1.14545 8.73195 1.14545C10.9411 1.14545 12.7319 2.93631 12.7319 5.14545Z"
                    stroke="#42B8EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <div class="dropdown">
                <a href="/" class="user-name dropdown-toggle h5 mt-2 mb-1 d-block" data-bs-toggle="dropdown" aria-expanded="false">Super Admin Panel</a>
                <div class="dropdown-menu user-pro-dropdown">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user me-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings me-1"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-lock me-1"></i>
                        <span>Lock Screen</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-log-out me-1"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </div>

            <p class="text-muted left-user-info">Admin Head</p>

            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="index.html#" class="text-muted left-user-info">
                        <i class="mdi mdi-cog"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="index.html#">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">

                <!-- Dashboard -->
                <!-- <li class="menu-title">Navigation</li> -->



                <li>
                    <a href="/master">
                        <!-- <i class="mdi mdi-view-dashboard-outline"></i> -->
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1.76865" y="1.67785" width="6.98764" height="8.33823" rx="2" stroke="#464748" stroke-width="2" />
                            <rect x="11.981" y="10.5396" width="6.98764" height="8.33823" rx="2" stroke="#464748" stroke-width="2" />
                            <rect x="11.981" y="1.67785" width="6.98764" height="5.91669" rx="2" stroke="#464748" stroke-width="2" />
                            <rect x="1.76865" y="12.9612" width="6.98764" height="5.91669" rx="2" stroke="#464748" stroke-width="2" />
                        </svg>
                        <span class="badge bg-success rounded-pill float-end">5+</span>
                        <span> Dashboard </span>
                    </a>
                </li>

                <!-- Inventory -->
                <li>
                    <a href="index.html#product" data-bs-toggle="collapse">

                        <svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.8686 6.50025L10.3686 11.2225M10.3686 11.2225L1.86859 6.50025M10.3686 11.2225L10.3686 20.7225M19.3686 15.2811V7.16395C19.3686 6.8213 19.3686 6.64998 19.3181 6.49718C19.2735 6.36201 19.2005 6.23792 19.104 6.13323C18.9949 6.0149 18.8452 5.9317 18.5457 5.76529L11.1457 1.65418C10.862 1.49662 10.7202 1.41785 10.5701 1.38696C10.4372 1.35963 10.3001 1.35963 10.1672 1.38696C10.017 1.41785 9.8752 1.49662 9.59159 1.65418L2.19159 5.7653C1.89207 5.9317 1.74231 6.0149 1.63325 6.13324C1.53678 6.23793 1.46377 6.36201 1.41911 6.49718C1.36862 6.64998 1.36862 6.8213 1.36862 7.16395V15.2811C1.36862 15.6237 1.36862 15.795 1.41911 15.9478C1.46377 16.083 1.53678 16.2071 1.63326 16.3118C1.74231 16.4301 1.89207 16.5133 2.19159 16.6797L9.59159 20.7908C9.8752 20.9484 10.017 21.0272 10.1672 21.058C10.3001 21.0854 10.4372 21.0854 10.5701 21.058C10.7202 21.0272 10.862 20.9484 11.1457 20.7908L18.5457 16.6797C18.8452 16.5133 18.9949 16.4301 19.104 16.3118C19.2005 16.2071 19.2735 16.083 19.3181 15.9478C19.3686 15.795 19.3686 15.6237 19.3686 15.2811Z"
                                stroke="#464748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span> Inventory </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="product">
                        <ul class="nav-second-level" style="">
                            <li>
                                <a href="/product/manual_add_product">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Add Product
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/product/product_list">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Product List
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/product/category">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Category
                                    </span>
                                </a>
                            </li>



                        </ul>
                    </div>
                </li>

                <!-- Campaigns -->
                <li class="d-none">
                    <a href="index.html#campaigns" data-bs-toggle="collapse">
                        <!-- <i class="mdi mdi-clipboard-outline"></i> -->
                        <!-- <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.1966 6.99142V10.9914M9.44659 4.49141H5.99659C4.31644 4.49141 3.47636 4.49141 2.83462 4.81839C2.27013 5.10601 1.81119 5.56496 1.52357 6.12944C1.19659 6.77118 1.19659 7.61126 1.19659 9.29142L1.1966 10.4914C1.1966 11.4233 1.1966 11.8892 1.34884 12.2568C1.55183 12.7468 1.94117 13.1362 2.43123 13.3392C2.79877 13.4914 3.26471 13.4914 4.1966 13.4914V17.7414C4.1966 17.9736 4.1966 18.0897 4.20623 18.1874C4.29975 19.137 5.05101 19.8883 6.00056 19.9818C6.09834 19.9914 6.21443 19.9914 6.4466 19.9914C6.67877 19.9914 6.79485 19.9914 6.89263 19.9818C7.84219 19.8883 8.59344 19.137 8.68697 18.1874C8.6966 18.0897 8.6966 17.9736 8.6966 17.7414V13.4914H9.4466C11.213 13.4914 13.3738 14.4383 15.0409 15.3471C16.0134 15.8772 16.4997 16.1423 16.8182 16.1033C17.1135 16.0671 17.3368 15.9345 17.5099 15.6925C17.6966 15.4316 17.6966 14.9094 17.6966 13.8651V4.1177C17.6966 3.07341 17.6966 2.55126 17.5099 2.2903C17.3368 2.04831 17.1135 1.91571 16.8182 1.87954C16.4997 1.84053 16.0134 2.10561 15.0409 2.63577C13.3738 3.54452 11.213 4.49141 9.44659 4.49141Z"
                                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg> -->


                        <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.1021 4.27097H6.65211C4.97195 4.27097 4.13187 4.27097 3.49014 4.59795C2.92565 4.88557 2.46671 5.34452 2.17909 5.909C1.85211 6.55074 1.85211 7.39082 1.85211 9.07098L1.85211 10.271C1.85211 11.2029 1.85211 11.6688 2.00436 12.0363C2.20734 12.5264 2.59669 12.9157 3.08675 13.1187C3.45429 13.271 3.92023 13.271 4.85211 13.271V17.521C4.85211 17.7531 4.85211 17.8692 4.86175 17.967C4.95527 18.9166 5.70653 19.6678 6.65608 19.7613C6.75386 19.771 6.86995 19.771 7.10211 19.771C7.33428 19.771 7.45037 19.771 7.54815 19.7613C8.4977 19.6678 9.24896 18.9166 9.34248 17.967C9.35211 17.8692 9.35211 17.7531 9.35211 17.521V13.271H10.1021C11.8685 13.271 14.0294 14.2179 15.6964 15.1266C16.6689 15.6568 17.1552 15.9218 17.4737 15.8828C17.769 15.8467 17.9923 15.7141 18.1654 15.4721C18.3521 15.2111 18.3521 14.689 18.3521 13.6447V3.89726C18.3521 2.85297 18.3521 2.33082 18.1654 2.06986C17.9923 1.82787 17.769 1.69527 17.4737 1.6591C17.1552 1.62009 16.6689 1.88517 15.6964 2.41533C14.0294 3.32408 11.8685 4.27097 10.1021 4.27097Z"
                                stroke="#464748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M21.8852 11.7562C22.5075 11.051 22.8852 10.1248 22.8852 9.11035C22.8852 8.0959 22.5075 7.16966 21.8852 6.46452" stroke="#464748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <span> Campaigns </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="campaigns">
                        <ul class="nav-second-level" style="">
                            <li>
                                <a href="/cms/page_cms">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> CMS
                                    </span></a>
                            </li>

                        </ul>
                    </div>
                </li>



                <!-- People -->
                <li>
                    <a href="index.html#People" data-bs-toggle="collapse">
                        <!-- <i class="mdi mdi-shopping"></i> -->
                        <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.3686 19.9339V17.9339C21.3686 16.07 20.0938 14.5039 18.3686 14.0599M14.8686 2.22461C16.3345 2.818 17.3686 4.25516 17.3686 5.93385C17.3686 7.61254 16.3345 9.04971 14.8686 9.64309M16.3686 19.9339C16.3686 18.0701 16.3686 17.1382 16.0641 16.4031C15.6582 15.423 14.8795 14.6443 13.8994 14.2383C13.1643 13.9339 12.2324 13.9339 10.3686 13.9339H7.36862C5.50486 13.9339 4.57297 13.9339 3.83789 14.2383C2.85778 14.6443 2.07908 15.423 1.6731 16.4031C1.36862 17.1382 1.36862 18.0701 1.36862 19.9339M12.8686 5.93385C12.8686 8.14299 11.0778 9.93385 8.86862 9.93385C6.65948 9.93385 4.86862 8.14299 4.86862 5.93385C4.86862 3.72471 6.65948 1.93385 8.86862 1.93385C11.0778 1.93385 12.8686 3.72471 12.8686 5.93385Z"
                                stroke="#464748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <span>CRM</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="People">
                        <ul class="nav-second-level">

                            <li>
                                <a href="/customer/add_customer">

                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span>Customer Dashboard
                                    </span></a>
                            </li>

                            <li>
                                <a href="/customer/add_customer">

                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span>Add Customer
                                    </span></a>
                            </li>
                            <li>
                                <a href="/customer/customer_list">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Customer List
                                    </span>
                                </a>
                            </li>


                        </ul>
                    </div>
                </li>
                <!-- expense -->
                <li>
                    <a href="index.html#expense" data-bs-toggle="collapse">
                        <!-- <i class="mdi mdi-clipboard-outline"></i> -->
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.3686 21.0875C16.8915 21.0875 21.3686 16.6104 21.3686 11.0875C21.3686 5.56469 16.8915 1.08754 11.3686 1.08754C5.84577 1.08754 1.36862 5.56469 1.36862 11.0875C1.36862 16.6104 5.84577 21.0875 11.3686 21.0875Z" stroke="#464748" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M16.2254 13.1774L16.2209 13.1591C16.0048 12.365 15.1336 11.8864 14.2794 12.0928C13.4758 12.2861 12.9491 13.0813 13.1033 13.8635C13.2169 14.4361 13.5816 14.8401 14.1646 15.0454C13.8585 15.565 13.182 15.9367 12.5776 15.8794C11.6975 15.7951 10.9806 15.0378 10.9806 14.1908L10.9795 11.3095H11.6874C12.2254 11.3095 12.7645 11.3095 13.3025 11.3095C13.8765 11.3084 14.294 10.9314 14.2951 10.4117C14.2951 10.1481 14.195 9.91259 14.0115 9.74729C13.8303 9.58416 13.5838 9.49773 13.2991 9.49773C12.8118 9.49665 12.3244 9.49773 11.8371 9.49773H10.9806V8.99644C10.9806 8.46814 10.9817 7.94093 10.9795 7.41263C10.9783 7.25598 10.9749 7.07232 10.9446 6.88866C10.7645 5.81046 9.87534 5.06177 8.73297 5.02612C7.65587 4.99155 6.68458 5.7586 6.47298 6.80763C6.42571 7.04099 6.43021 7.28515 6.48649 7.49474C6.59116 7.89447 7.03235 8.17429 7.47354 8.11811C7.93162 8.05977 8.24901 7.74754 8.32329 7.28299C8.34017 7.17603 8.36381 7.05719 8.41108 6.98697C8.48986 6.86705 8.66432 6.81627 8.82413 6.86705C8.98958 6.91999 9.08863 7.05935 9.08975 7.23978C9.09313 7.90096 9.092 8.56214 9.09088 9.22224V9.49773H8.95132C8.64631 9.49773 8.34355 9.49665 8.04192 9.49881C7.51069 9.50205 7.10551 9.88234 7.09876 10.3825C7.092 10.9 7.49043 11.2987 8.02504 11.3084C8.28953 11.3127 8.55739 11.3127 8.81626 11.3106C8.90742 11.3106 8.99971 11.3095 9.09088 11.3095C9.09088 11.4802 9.08975 11.6509 9.08975 11.8194C9.0875 12.4547 9.08637 13.0543 9.09425 13.6668C9.09538 13.7306 9.09538 13.7943 9.0965 13.8581C9.09875 14.2178 9.10101 14.5895 9.19217 14.9503C9.56021 16.4099 10.5383 17.3325 12.0205 17.6188C12.2816 17.6696 12.5371 17.6944 12.7859 17.6944C13.8596 17.6944 14.8072 17.2266 15.5591 16.318C16.159 15.5931 16.4392 14.2718 16.2254 13.1774Z"
                                fill="#464748" />
                        </svg>

                        <span> Expense </span>
                        <span class="menu-arrow"></span>
                    </a>

                    <div class="collapse" id="expense">
                        <ul class="nav-second-level" style="">
                            <li>
                                <a href="/expense/add_expense">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span>Add Expense
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/expense/expense_list">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Expense List
                                    </span>
                                </a>
                            </li>



                        </ul>
                    </div>
                </li>

                <!-- Trading -->
                <!-- <li>
                    <a href="index.html#trading" data-bs-toggle="collapse">
                        <i class="mdi mdi-clipboard-outline"></i>
                        <span> Trading Section </span>
                        <span class="menu-arrow"></span>
                    </a>

                    <div class="collapse" id="trading">
                        <ul class="nav-second-level" style="">
                            <li>
                                <a href="/super_admin/trading">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Tarding null
                                    </span>
                                </a>
                            </li>


                        </ul>
                    </div>
                </li> -->



                <!-- CRM -->
                <!-- <li>
                    <a href="index.html#UserLogo" data-bs-toggle="collapse">
                        <i class="mdi mdi-shopping"></i>
                        <span>CMS</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="UserLogo">
                        <ul class="nav-second-level">
                            <li>
                                <a href="/super_admin/add_logo">

                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Add Logo
                                    </span></a>
                            </li>
                            <li>
                                <a href="/super_admin/add_banner">

                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Add Banner
                                    </span></a>
                            </li>

                        </ul>
                    </div>
                </li> -->

                <!-- Invoice -->

                <!-- <li class="menu-title">Invoice</li> -->
                <li>
                    <a href="/invoice">
                        <!-- <i class="mdi mdi-calendar-blank-outline"></i> -->
                        <svg width="19" height="23" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.3686 10.8148H5.36862M7.36862 14.8148H5.36862M13.3686 6.81485H5.36862M17.3686 6.61485V17.0148C17.3686 18.695 17.3686 19.5351 17.0416 20.1768C16.754 20.7413 16.2951 21.2002 15.7306 21.4879C15.0889 21.8148 14.2488 21.8148 12.5686 21.8148H6.16862C4.48846 21.8148 3.64839 21.8148 3.00665 21.4879C2.44216 21.2002 1.98322 20.7413 1.6956 20.1768C1.36862 19.5351 1.36862 18.695 1.36862 17.0148V6.61485C1.36862 4.93469 1.36862 4.09461 1.6956 3.45288C1.98322 2.88839 2.44216 2.42945 3.00665 2.14183C3.64839 1.81485 4.48846 1.81485 6.16862 1.81485H12.5686C14.2488 1.81485 15.0889 1.81485 15.7306 2.14183C16.2951 2.42945 16.754 2.88839 17.0416 3.45288C17.3686 4.09461 17.3686 4.93469 17.3686 6.61485Z"
                                stroke="#464748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <span> Invoice </span>
                    </a>
                </li>

                <!-- Orders -->
                <!-- <li class="menu-title">Orders</li> -->
                <li>
                    <a href="/orders">
                        <!-- <i class="mdi mdi-calendar-blank-outline"></i> -->
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.40181 13.9679H17.5375C18.5504 13.9679 19.0568 13.9679 19.4599 13.7791C19.8151 13.6127 20.1135 13.3457 20.318 13.0111C20.5502 12.6312 20.6061 12.1279 20.718 11.1213L21.303 5.85626C21.3371 5.54879 21.3542 5.39506 21.3048 5.27607C21.2614 5.17157 21.1838 5.08488 21.0847 5.03019C20.9719 4.96791 20.8172 4.96791 20.5079 4.96791H3.90181M1.40167 1.96791H2.65011C2.91473 1.96791 3.04705 1.96791 3.15056 2.01824C3.24169 2.06254 3.31721 2.13348 3.36711 2.22167C3.42379 2.32185 3.43205 2.4539 3.44855 2.71801L4.35479 17.2178C4.3713 17.4819 4.37955 17.614 4.43623 17.7141C4.48614 17.8023 4.56165 17.8733 4.65278 17.9176C4.7563 17.9679 4.88861 17.9679 5.15323 17.9679H18.4017M6.90167 21.4679H6.91167M15.9017 21.4679H15.9117M7.40167 21.4679C7.40167 21.7441 7.17781 21.9679 6.90167 21.9679C6.62553 21.9679 6.40167 21.7441 6.40167 21.4679C6.40167 21.1918 6.62553 20.9679 6.90167 20.9679C7.17781 20.9679 7.40167 21.1918 7.40167 21.4679ZM16.4017 21.4679C16.4017 21.7441 16.1778 21.9679 15.9017 21.9679C15.6255 21.9679 15.4017 21.7441 15.4017 21.4679C15.4017 21.1918 15.6255 20.9679 15.9017 20.9679C16.1778 20.9679 16.4017 21.1918 16.4017 21.4679Z"
                                stroke="#464748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <span> Orders </span>
                    </a>
                </li>

                <!-- Affialiate -->

                <!-- <li class="menu-title">Affialiate</li> -->
                <li>
                    <a href="index.html#affialiate" data-bs-toggle="collapse">
                        <!-- <i class="mdi mdi-shopping"></i> -->
                        <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M17.8489 10.4548C17.4099 9.71872 16.662 9.27131 15.8448 9.26118C15.1138 9.24767 14.4368 9.58703 13.9742 10.1712L13.9725 10.1695C13.65 10.1053 13.3258 10.0395 13.0051 9.97872C12.9696 9.77274 12.924 9.55157 12.8295 9.33377C12.7265 9.09403 12.5999 8.87117 12.4766 8.65675L14.3675 5.98581C14.7322 6.07023 15.0817 6.08373 15.4261 6.02971C16.711 5.82204 17.6311 4.83437 17.7712 3.51409C17.8995 2.31537 17.1449 1.12847 15.985 0.694572C15.8482 0.642234 15.7115 0.605091 15.5916 0.573012C15.5443 0.559505 15.497 0.547687 15.4515 0.53418L15.3704 0.510544H14.5904L14.4925 0.547687C14.479 0.551064 14.4672 0.556129 14.4503 0.56457C13.4997 0.762106 12.7349 1.41549 12.4006 2.32044C12.0951 3.14266 12.198 4.04085 12.6674 4.77527C12.2588 5.34931 11.8519 5.92334 11.4434 6.49906L10.8288 7.36687C9.66554 6.96842 8.55631 7.13894 7.58045 7.86999L5.20665 6.02633C5.27419 5.73931 5.28432 5.43879 5.23704 5.12814C5.05808 3.92604 3.97755 3.08019 2.72818 3.16629C1.55985 3.24227 0.59919 4.26033 0.585683 5.43372C0.573865 6.31841 0.958805 7.02751 1.69661 7.48336C2.3922 7.91389 3.14013 7.96454 3.87287 7.63362C4.59379 8.19584 5.49029 8.89481 6.40368 9.59716C6.15381 10.4346 6.21628 11.2399 6.59109 11.9963C6.71433 12.2445 6.8646 12.4673 7.01317 12.6817L6.92538 12.805C6.50498 13.3993 6.07783 14.0037 5.66081 14.5963C5.45146 14.5338 5.23367 14.4764 4.9973 14.4562C4.14131 14.3853 3.33767 14.6638 2.73493 15.2413C2.12375 15.8254 1.79115 16.6409 1.82323 17.48C1.85531 18.3208 2.26726 19.1126 2.95273 19.6512C3.623 20.1779 4.46547 20.389 5.26574 20.2269C6.25004 20.0294 7.06044 19.3743 7.43188 18.4761C7.77292 17.6556 7.71045 16.7219 7.27148 15.9301C7.81344 15.1703 8.30137 14.4815 8.75046 13.8382C9.3093 14.0003 9.87658 14.0121 10.4388 13.872C11.0095 14.7229 11.6257 15.6329 12.3145 16.6426C11.9313 17.2706 11.8502 17.9899 12.0782 18.7378C12.4074 19.8099 13.4187 20.5105 14.5246 20.5105C14.7238 20.5105 14.9247 20.4886 15.1256 20.4413C16.3952 20.1408 17.2411 18.8948 17.0486 17.6032C16.9338 16.8384 16.5033 16.1698 15.8651 15.7714C15.3181 15.4303 14.6596 15.3139 14.0198 15.4405C13.6264 14.858 13.2313 14.2738 12.8362 13.6914L12.2284 12.7898C12.4243 12.5636 12.588 12.3154 12.7214 12.0503C12.7636 12.0587 12.8042 12.0689 12.8464 12.0773C13.0743 12.1246 13.3107 12.1752 13.5521 12.2107C13.5639 12.2529 13.5757 12.2867 13.5875 12.3137C13.5892 12.3204 13.5926 12.3255 13.5943 12.3306C13.9556 13.4347 15.0935 14.105 16.2568 13.894C16.9878 13.7606 17.6159 13.2592 17.9367 12.5551C18.2524 11.8646 18.2186 11.0795 17.8489 10.4548ZM14.9737 11.5995C14.9754 11.1335 15.3485 10.7638 15.8145 10.7638C16.2821 10.7655 16.6502 11.1369 16.6502 11.6029C16.6485 12.0706 16.2771 12.4403 15.8111 12.4386C15.3434 12.4369 14.972 12.0638 14.9737 11.5995ZM15.5832 17.9713C15.5781 18.5538 15.0952 19.0265 14.5094 19.0214C13.9151 19.0147 13.4373 18.5284 13.4457 17.9375C13.4558 17.3567 13.9488 16.8739 14.5229 16.884C15.1189 16.8941 15.5882 17.3753 15.5832 17.9713ZM4.73898 18.7597C3.95391 18.753 3.32923 18.1216 3.33598 17.3399C3.34104 16.5598 3.97923 15.9352 4.76262 15.9453C5.53588 15.9537 6.16563 16.5885 6.16056 17.3534C6.15381 18.1317 5.51224 18.7648 4.73898 18.7597ZM7.74928 10.5544C7.75097 9.52287 8.62215 8.65338 9.65879 8.65C10.7005 8.64493 11.575 9.52118 11.5734 10.5646C11.5717 11.6046 10.7089 12.4639 9.66723 12.4639C8.61877 12.4656 7.74928 11.5995 7.74928 10.5544ZM14.9956 2.01823C15.6895 2.01823 16.2703 2.59564 16.2703 3.28954C16.2703 3.98513 15.6946 4.55917 14.9956 4.55917C14.2933 4.55917 13.7243 3.9902 13.726 3.28954C13.7277 2.58719 14.2966 2.01823 14.9956 2.01823ZM2.92065 6.34374C2.45804 6.33698 2.08323 5.95373 2.08661 5.4945C2.09168 5.03359 2.47155 4.66047 2.93753 4.66384C3.39845 4.66553 3.78001 5.05385 3.76988 5.51139C3.76144 5.97399 3.3765 6.35049 2.92065 6.34374Z"
                                fill="#464748" />
                        </svg>
                        <span>Affialiate</span>
                        <span class="menu-arrow"></span>
                    </a>

                    <div class="collapse" id="affialiate">
                        <ul class="nav-second-level">

                            <li>
                                <a href="/report/product_report">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Thrive
                                    </span></a>
                            </li>

                        </ul>
                    </div>
                </li>


                <!-- Analysis -->
                <!-- <li class="menu-title">Analysis</li> -->
                <li>
                    <a href="/analysis">
                        <!-- <i class="mdi mdi-calendar-blank-outline"></i> -->
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.3686 19.5245L15.0186 15.1745M17.3686 9.52448C17.3686 13.9428 13.7869 17.5245 9.36862 17.5245C4.95034 17.5245 1.36862 13.9428 1.36862 9.52448C1.36862 5.1062 4.95034 1.52448 9.36862 1.52448C13.7869 1.52448 17.3686 5.1062 17.3686 9.52448Z" stroke="#464748"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M13.4085 11.8856V7.56449M9.36862 11.8856V5.71257M5.3287 11.8856L5.3287 9.41641" stroke="#464748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <span> Analysis </span>
                    </a>
                </li>
                <!-- Reports -->
                <li>
                    <a href="index.html#reports" data-bs-toggle="collapse">
                        <!-- <i class="mdi mdi-shopping"></i> -->
                        <svg width="19" height="23" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.3686 2.05734V6.18788C11.3686 6.74794 11.3686 7.02796 11.4776 7.24187C11.5735 7.43004 11.7265 7.58302 11.9146 7.67889C12.1285 7.78788 12.4086 7.78788 12.9686 7.78788H17.0992M11.3686 16.7878H5.36862M13.3686 12.7878H5.36862M17.3686 9.77604V16.9878C17.3686 18.668 17.3686 19.508 17.0416 20.1498C16.754 20.7143 16.2951 21.1732 15.7306 21.4608C15.0889 21.7878 14.2488 21.7878 12.5686 21.7878H6.16862C4.48846 21.7878 3.64839 21.7878 3.00665 21.4608C2.44216 21.1732 1.98322 20.7143 1.6956 20.1498C1.36862 19.508 1.36862 18.668 1.36862 16.9878V6.58781C1.36862 4.90765 1.36862 4.06758 1.6956 3.42584C1.98322 2.86135 2.44216 2.40241 3.00665 2.11479C3.64839 1.78781 4.48846 1.78781 6.16862 1.78781H9.3804C10.1142 1.78781 10.4811 1.78781 10.8263 1.8707C11.1324 1.94419 11.4251 2.0654 11.6935 2.22989C11.9962 2.41542 12.2557 2.67484 12.7745 3.1937L15.9627 6.38192C16.4816 6.90078 16.741 7.16021 16.9265 7.46296C17.091 7.73137 17.2122 8.02401 17.2857 8.33012C17.3686 8.67538 17.3686 9.04226 17.3686 9.77604Z"
                                stroke="#464748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <span>Reports</span>
                        <span class="menu-arrow"></span>
                    </a>

                    <div class="collapse" id="reports">
                        <ul class="nav-second-level">

                            <li>
                                <a href="/report/product_report">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Product Report
                                    </span></a>
                            </li>

                            <li>
                                <a href="/report/expense_report">
                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Expense Report
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/report/customer_report">

                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Customer Report
                                    </span>

                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
                <!-- user Management -->
                <li>
                    <a href="index.html#UserManagement" data-bs-toggle="collapse">
                        <!-- <i class="mdi mdi-shopping"></i> -->
                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.0852 18.0434C21.002 17.7422 20.7341 17.596 20.249 17.3307L20.2376 17.3246C20.1492 17.2764 20.0511 17.2221 19.9434 17.1626C19.7902 17.0768 19.749 17.0251 19.7324 16.8019C19.7061 16.4394 19.7867 16.2949 20.08 16.182C20.2157 16.1294 20.3278 16.0585 20.4381 15.9893C20.4985 15.9517 20.5546 15.9158 20.6097 15.8878C20.854 15.7625 21.009 15.5927 21.0685 15.3852C21.1307 15.168 21.0869 14.9377 20.9337 14.6794C20.509 13.9623 20.1317 13.3083 19.7805 12.6796C19.6483 12.445 19.4785 12.2987 19.2736 12.2444C19.0643 12.1893 18.8463 12.2322 18.6073 12.3758C18.5197 12.4283 18.4313 12.4765 18.3358 12.529C18.1695 12.6209 17.9979 12.7155 17.8324 12.8311C17.7658 12.8784 17.7571 12.8836 17.5478 12.7952C17.1853 12.642 17.0837 12.4537 17.1468 12.0483C17.1906 11.7681 17.1844 11.5343 17.1267 11.333C17.0575 11.0896 16.8342 10.7875 16.5076 10.6999C16.4516 10.6842 16.4454 10.6824 13.9649 10.6684C13.6979 10.6684 13.486 10.7463 13.3327 10.8996C13.1804 11.0528 13.1033 11.2664 13.1051 11.5335C13.1051 11.5913 13.106 11.6482 13.1068 11.706L13.1077 11.7427C13.1112 11.9993 13.1139 12.2637 13.099 12.515C13.0981 12.5281 13.0841 12.5614 13.0736 12.5763C12.7128 12.8521 12.613 12.9257 12.0605 12.6078C12.0535 12.6034 11.7856 12.4441 11.6516 12.3635C11.4275 12.2287 11.2121 12.1867 11.0107 12.2401C10.8084 12.2926 10.6403 12.4344 10.5107 12.6612C10.0511 13.4659 9.6693 14.1261 9.30856 14.739C9.17897 14.9605 9.14132 15.1724 9.19561 15.3694C9.25165 15.5725 9.39437 15.7354 9.6334 15.8676C9.90133 16.0156 10.1815 16.1784 10.4888 16.3658C10.5309 16.3912 10.5545 16.407 10.5659 16.4157C10.6491 16.7012 10.4959 17.0558 10.2148 17.2178L10.1517 17.2537C10.0966 17.2852 10.0344 17.3202 9.97138 17.3614C9.9276 17.3903 9.87244 17.42 9.8129 17.4524C9.63428 17.5487 9.41188 17.6696 9.29805 17.8928C9.20437 18.0758 9.19123 18.2133 9.87069 19.5442C10.1894 20.1685 10.5204 20.7735 10.53 20.7902C10.657 21.002 10.8207 21.1351 11.0168 21.1842C11.2138 21.2341 11.4231 21.1938 11.6376 21.0651C11.7304 21.009 11.8259 20.9556 11.9239 20.9005C12.0955 20.8042 12.2724 20.7052 12.4449 20.5879C12.5079 20.545 12.5176 20.538 12.74 20.6299C13.085 20.7735 13.176 20.9469 13.1147 21.3461C13.0893 21.5134 13.0963 21.6692 13.1033 21.8207L13.1042 21.833C13.106 21.8671 13.1077 21.9004 13.1086 21.9345C13.1235 22.438 13.4221 22.7383 13.9133 22.7383C14.8274 22.7348 15.6285 22.7348 16.3701 22.7383C16.8491 22.7383 17.1415 22.452 17.1538 21.9739L17.1582 21.826C17.1661 21.5633 17.1739 21.291 17.1512 21.0178C17.1442 20.9241 17.1415 20.8987 17.3464 20.7429C17.6476 20.5143 17.842 20.5205 18.1458 20.7691C18.2579 20.8602 18.3796 20.9232 18.4873 20.9802C18.5398 21.0073 18.5898 21.0336 18.6353 21.0607C18.8524 21.1938 19.0643 21.2358 19.2648 21.1842C19.4697 21.1316 19.6413 20.9872 19.7753 20.7534C19.8988 20.5371 20.0231 20.3226 20.1474 20.1072L20.1684 20.0704C20.2998 19.8436 20.4302 19.6177 20.5598 19.3901C20.6246 19.2771 20.6833 19.1756 20.7402 19.0793C21.016 18.6047 21.1692 18.3438 21.0852 18.0434ZM15.7178 20.587C15.7301 20.812 15.7283 21.0406 15.7257 21.2857H14.5743C14.5822 21.0222 14.5892 20.7499 14.5472 20.4776C14.4999 20.1772 14.2644 19.9548 14.0411 19.7771L13.3459 19.2973L13.3345 19.2903C12.7242 18.9111 12.3486 18.9094 11.8451 19.2868C11.7366 19.3682 11.607 19.4382 11.4581 19.5171C11.2778 19.2062 11.0991 18.8989 10.917 18.5854L10.8697 18.504H10.8706C11.0807 18.377 11.2786 18.2571 11.48 18.1503C11.8837 17.9357 12.0089 17.6967 11.994 17.1696L11.987 16.1662L11.9852 16.139C11.9598 15.8913 11.8469 15.5603 11.6087 15.3738C11.3811 15.1934 11.1377 15.0586 10.8794 14.915L10.875 14.9124L11.452 13.9116L11.4686 13.9212C11.6849 14.0429 11.8889 14.1576 12.0903 14.2828C12.4519 14.507 12.8013 14.4912 13.1585 14.2329C13.394 14.0613 13.6698 13.9037 14.0034 13.7496C14.394 13.5701 14.584 13.2645 14.5699 12.8407C14.5621 12.6218 14.5638 12.4012 14.5656 12.1656H15.7248C15.7275 12.3802 15.7301 12.5999 15.7178 12.8127C15.6924 13.2636 15.8833 13.5736 16.3019 13.761C16.6057 13.8976 16.8745 14.0517 17.1004 14.2198C17.4603 14.4894 17.835 14.5061 18.2141 14.2688C18.4033 14.1506 18.6038 14.035 18.8174 13.9142L18.8253 13.9098L19.4119 14.9229L19.4014 14.929C19.1834 15.0586 18.9785 15.1803 18.7719 15.2871C18.3954 15.4832 18.2316 15.7923 18.2702 16.2319C18.2824 16.3711 18.278 16.5173 18.2737 16.6732C18.2675 16.8702 18.2614 17.075 18.2903 17.2852C18.3209 17.5198 18.4479 17.8675 18.7018 18.0732C18.9181 18.2475 19.151 18.3744 19.4032 18.511C19.2114 18.8437 19.024 19.1712 18.8288 19.51L18.8104 19.4995C18.5924 19.3778 18.3875 19.2631 18.1852 19.1406C17.8096 18.9129 17.4603 18.933 17.1161 19.201C16.8885 19.377 16.6171 19.5346 16.3299 19.6554C16.1696 19.7202 15.6828 19.9242 15.7178 20.587Z"
                                fill="#464748" />
                            <path
                                d="M17.4107 16.7085C17.4088 15.4699 16.3967 14.4592 15.1568 14.4559C15.1522 14.4559 15.1475 14.4559 15.1429 14.4559C14.5335 14.4559 13.9636 14.6904 13.5353 15.1174C13.1103 15.541 12.8764 16.1076 12.8771 16.7125C12.8771 17.9439 13.8845 18.9559 15.1232 18.9684H15.1475C15.7451 18.9684 16.3104 18.7345 16.7394 18.3096C17.1729 17.8806 17.4114 17.312 17.4107 16.7085ZM14.3292 15.8553C14.5493 15.6425 14.8339 15.5252 15.1324 15.5252H15.1515C15.8051 15.5357 16.3144 16.0628 16.3111 16.725C16.3091 17.0432 16.1872 17.3377 15.9672 17.5538C15.7484 17.7686 15.4533 17.8866 15.1344 17.8866H15.1271C14.8142 17.8846 14.5203 17.7601 14.3002 17.5354C14.0795 17.3101 13.9596 17.0129 13.9642 16.6986C13.9688 16.3791 14.0986 16.0793 14.3292 15.8553Z"
                                fill="#464748" />
                            <path
                                d="M7.12909 14.1684C5.73353 14.1684 5.03574 14.1684 4.46795 14.3406C3.18954 14.7284 2.18913 15.7289 1.80133 17.0073C1.62909 17.575 1.62909 18.2728 1.62909 19.6684M14.1291 6.1684C14.1291 8.65368 12.1144 10.6684 9.62909 10.6684C7.14381 10.6684 5.12909 8.65368 5.12909 6.1684C5.12909 3.68311 7.14381 1.6684 9.62909 1.6684C12.1144 1.6684 14.1291 3.68311 14.1291 6.1684Z"
                                stroke="#464748" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <span>User Management</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="UserManagement">
                        <ul class="nav-second-level">
                            <li>
                                <a href="/super_admin/super">

                                    <i class="mdi mdi-circle" style="font-size: 6px;margin-right: 10px;"></i>
                                    <span> Super Admin
                                    </span></a>
                            </li>


                        </ul>
                    </div>
                </li>


            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>