<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Master Super_Admin File</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Plugins css -->
    <link href="/assets/libs/mohithg-switchery/switchery.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- icons -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />


</head>

<!-- body start -->

<body class="loading" data-layout-color="light" data-layout-mode="default" data-layout-size="fluid" data-topbar-color="light" data-leftbar-position="fixed" data-leftbar-color="light" data-leftbar-size='default' data-sidebar-user='true'>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top bar Start -->
        <%-include('topbar.ejs')-%>
            <!-- Top bar end -->

            <!-- Left Sidebar Start -->
            <%-include('left_sidebar.ejs')-%>
                <!-- Left Sidebar end -->

                <!--  Page Content Start-->
                <div class="content-page mt-5" style="background: #F9F9F9;">

                    <!-- content start-->
                    <div class="container-fluid">

                        <div class="d-flex justify-content-center align-items-center">
                            <div class="p-5" style=" border: 0px solid black;">
                                <div class="row p-1 gap-1" style="border: 2px solid transparent;">

                                    <!-- dashboard -->
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 mb-2 p-2 d-flex justify-content-center" style="border: 2px solid black;">
                                        <a href="/product/manual_add_product">

                                            <svg width="80" height="80" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="1.63197" y="1.88944" width="6.98764" height="8.33823" rx="2" stroke="#5B53A3" stroke-width="2" />
                                                <rect x="11.8443" y="10.7512" width="6.98764" height="8.33823" rx="2" stroke="#5B53A3" stroke-width="2" />
                                                <rect x="11.8443" y="1.88944" width="6.98764" height="5.91669" rx="2" stroke="#5B53A3" stroke-width="2" />
                                                <rect x="1.63197" y="13.1727" width="6.98764" height="5.91669" rx="2" stroke="#5B53A3" stroke-width="2" />
                                            </svg>
                                        </a>
                                    </div>

                                    <!-- inventory -->
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 mb-2 p-2 d-flex justify-content-center" style="border: 2px solid black;">
                                        <a href="/product/manual_add_product">
                                            <svg width="80" height="80" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M18.7319 6.71184L10.2319 11.4341M10.2319 11.4341L1.73192 6.71184M10.2319 11.4341L10.2319 20.9341M19.232 15.4926V7.37554C19.232 7.0329 19.2319 6.86157 19.1815 6.70878C19.1368 6.5736 19.0638 6.44952 18.9673 6.34483C18.8583 6.22649 18.7085 6.14329 18.409 5.97689L11.009 1.86578C10.7254 1.70822 10.5836 1.62944 10.4334 1.59855C10.3005 1.57122 10.1634 1.57122 10.0305 1.59855C9.88033 1.62944 9.73853 1.70822 9.45492 1.86578L2.05492 5.97689C1.7554 6.14329 1.60563 6.22649 1.49658 6.34483C1.40011 6.44952 1.3271 6.5736 1.28243 6.70878C1.23195 6.86158 1.23195 7.0329 1.23195 7.37554V15.4926C1.23195 15.8353 1.23195 16.0066 1.28243 16.1594C1.3271 16.2946 1.40011 16.4187 1.49658 16.5234C1.60563 16.6417 1.7554 16.7249 2.05492 16.8913L9.45492 21.0024C9.73853 21.16 9.88033 21.2387 10.0305 21.2696C10.1634 21.297 10.3005 21.297 10.4334 21.2696C10.5836 21.2387 10.7254 21.16 11.009 21.0024L18.409 16.8913C18.7085 16.7249 18.8583 16.6417 18.9673 16.5234C19.0638 16.4187 19.1368 16.2946 19.1815 16.1594C19.2319 16.0066 19.232 15.8353 19.232 15.4926Z"
                                                    stroke="#8750A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                    </div>

                                    <!-- crm/peoples -->
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 mb-2 p-2 d-flex justify-content-center" style="border: 2px solid black;">
                                        <a href="/landingcms/landing_page_cms">
                                            <svg width="80" height="80" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M21.2319 19.1454V17.1454C21.2319 15.2816 19.9572 13.7155 18.2319 13.2715M14.7319 1.43621C16.1979 2.02959 17.2319 3.46676 17.2319 5.14545C17.2319 6.82414 16.1979 8.2613 14.7319 8.85469M16.2319 19.1454C16.2319 17.2817 16.2319 16.3498 15.9275 15.6147C15.5215 14.6346 14.7428 13.8559 13.7627 13.4499C13.0276 13.1454 12.0957 13.1454 10.2319 13.1454H7.23195C5.36818 13.1454 4.4363 13.1454 3.70122 13.4499C2.7211 13.8559 1.94241 14.6346 1.53643 15.6147C1.23195 16.3498 1.23195 17.2817 1.23195 19.1454M12.7319 5.14545C12.7319 7.35459 10.9411 9.14545 8.73195 9.14545C6.52281 9.14545 4.73195 7.35459 4.73195 5.14545C4.73195 2.93631 6.52281 1.14545 8.73195 1.14545C10.9411 1.14545 12.7319 2.93631 12.7319 5.14545Z"
                                                    stroke="#42B8EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>

                                        </a>
                                    </div>
                                    <!-- expense -->
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 mb-2 p-2 d-flex justify-content-center" style="border: 2px solid black;">
                                        <a href="/expense/add_expense">
                                            <svg width="80" height="80" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.2319 21.2991C16.7548 21.2991 21.2319 16.822 21.2319 11.2991C21.2319 5.77629 16.7548 1.29913 11.2319 1.29913C5.7091 1.29913 1.23195 5.77629 1.23195 11.2991C1.23195 16.822 5.7091 21.2991 11.2319 21.2991Z" stroke="#FF7F7F" stroke-width="2"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M16.0887 13.389L16.0842 13.3706C15.8681 12.5766 14.997 12.098 14.1427 12.3043C13.3391 12.4977 12.8124 13.2929 12.9666 14.075C13.0803 14.6476 13.4449 15.0517 14.0279 15.257C13.7218 15.7766 13.0454 16.1483 12.441 16.091C11.5608 16.0067 10.8439 15.2494 10.8439 14.4024L10.8428 11.5211H11.5507C12.0887 11.5211 12.6278 11.5211 13.1658 11.5211C13.7398 11.52 14.1574 11.1429 14.1585 10.6233C14.1585 10.3597 14.0583 10.1242 13.8749 9.95887C13.6936 9.79573 13.4472 9.70931 13.1624 9.70931C12.6751 9.70823 12.1877 9.70931 11.7004 9.70931H10.8439V9.20802C10.8439 8.67972 10.845 8.15251 10.8428 7.62421C10.8417 7.46756 10.8383 7.2839 10.8079 7.10024C10.6278 6.02204 9.73867 5.27335 8.5963 5.2377C7.5192 5.20312 6.5479 5.97018 6.33631 7.01921C6.28904 7.25257 6.29354 7.49673 6.34982 7.70632C6.45449 8.10605 6.89568 8.38586 7.33687 8.32969C7.79495 8.27135 8.11234 7.95912 8.18662 7.49457C8.2035 7.38761 8.22714 7.26877 8.27441 7.19855C8.35319 7.07863 8.52764 7.02785 8.68746 7.07863C8.85291 7.13157 8.95195 7.27093 8.95308 7.45135C8.95645 8.11253 8.95533 8.77371 8.9542 9.43381V9.70931H8.81464C8.50963 9.70931 8.20688 9.70823 7.90525 9.71039C7.37401 9.71363 6.96884 10.0939 6.96208 10.5941C6.95533 11.1116 7.35375 11.5103 7.88836 11.52C8.15285 11.5243 8.42072 11.5243 8.67958 11.5222C8.77075 11.5222 8.86304 11.5211 8.9542 11.5211C8.9542 11.6918 8.95308 11.8625 8.95308 12.031C8.95083 12.6663 8.9497 13.2659 8.95758 13.8784C8.95871 13.9422 8.95871 14.0059 8.95983 14.0696C8.96208 14.4294 8.96433 14.801 9.0555 15.1619C9.42353 16.6214 10.4016 17.5441 11.8839 17.8304C12.145 17.8811 12.4005 17.906 12.6492 17.906C13.7229 17.906 14.6706 17.4382 15.4224 16.5296C16.0223 15.8047 16.3025 14.4834 16.0887 13.389Z"
                                                    fill="#FF7F7F" />
                                            </svg>
                                        </a>
                                    </div>

                                    <!-- invoice-->
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 mb-2 p-2 d-flex justify-content-center" style="border: 2px solid black;">
                                        <a href="/customer/add_customer">
                                            <svg width="80" height="80" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.2319 10.0264H5.23195M7.23195 14.0264H5.23195M13.2319 6.02644H5.23195M17.2319 5.82644V16.2264C17.2319 17.9066 17.2319 18.7467 16.905 19.3884C16.6173 19.9529 16.1584 20.4118 15.5939 20.6995C14.9522 21.0264 14.1121 21.0264 12.4319 21.0264H6.03195C4.35179 21.0264 3.51171 21.0264 2.86998 20.6995C2.30549 20.4118 1.84655 19.9529 1.55893 19.3884C1.23195 18.7467 1.23195 17.9066 1.23195 16.2264V5.82644C1.23195 4.14629 1.23195 3.30621 1.55893 2.66447C1.84655 2.09999 2.30549 1.64104 2.86998 1.35342C3.51171 1.02644 4.35179 1.02644 6.03195 1.02644H12.4319C14.1121 1.02644 14.9522 1.02644 15.5939 1.35342C16.1584 1.64104 16.6173 2.09999 16.905 2.66447C17.2319 3.30621 17.2319 4.14629 17.2319 5.82644Z"
                                                    stroke="#446FB6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>


                                        </a>
                                    </div>
                                    <!-- Order-->
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 mb-2 p-2 d-flex justify-content-center" style="border: 2px solid black;">
                                        <a href="/invoice">
                                            <svg width="80" height="80" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M4.26514 13.1795H17.4009C18.4137 13.1795 18.9201 13.1795 19.3232 12.9907C19.6784 12.8243 19.9768 12.5573 20.1813 12.2227C20.4135 11.8428 20.4694 11.3395 20.5813 10.3329L21.1663 5.06785C21.2005 4.76039 21.2175 4.60666 21.1681 4.48766C21.1247 4.38316 21.0471 4.29648 20.948 4.24178C20.8352 4.1795 20.6805 4.1795 20.3712 4.1795H3.76514M1.265 1.1795H2.51344C2.77806 1.1795 2.91037 1.1795 3.01389 1.22983C3.10502 1.27413 3.18054 1.34508 3.23044 1.43327C3.28712 1.53344 3.29537 1.6655 3.31188 1.9296L4.21812 16.4294C4.23463 16.6935 4.24288 16.8256 4.29956 16.9257C4.34946 17.0139 4.42498 17.0849 4.51611 17.1292C4.61963 17.1795 4.75194 17.1795 5.01656 17.1795H18.265M6.765 20.6795H6.775M15.765 20.6795H15.775M7.265 20.6795C7.265 20.9556 7.04114 21.1795 6.765 21.1795C6.48886 21.1795 6.265 20.9556 6.265 20.6795C6.265 20.4034 6.48886 20.1795 6.765 20.1795C7.04114 20.1795 7.265 20.4034 7.265 20.6795ZM16.265 20.6795C16.265 20.9556 16.0411 21.1795 15.765 21.1795C15.4889 21.1795 15.265 20.9556 15.265 20.6795C15.265 20.4034 15.4889 20.1795 15.765 20.1795C16.0411 20.1795 16.265 20.4034 16.265 20.6795Z"
                                                    stroke="#36CC8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>

                                        </a>
                                    </div>
                                    <!-- Affialiate-->

                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 mb-2 p-2 d-flex justify-content-center" style="border: 2px solid black;">
                                        <a href="/orders">
                                            <svg width="80" height="80" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M17.7122 10.6664C17.2733 9.93031 16.5253 9.4829 15.7082 9.47277C14.9771 9.45926 14.3001 9.79862 13.8375 10.3828L13.8358 10.3811C13.5133 10.3169 13.1892 10.2511 12.8684 10.1903C12.8329 9.98434 12.7874 9.76316 12.6928 9.54537C12.5898 9.30563 12.4632 9.08277 12.3399 8.86835L14.2309 6.1974C14.5956 6.28182 14.945 6.29533 15.2895 6.2413C16.5743 6.03363 17.4944 5.04596 17.6346 3.72568C17.7629 2.52697 17.0082 1.34007 15.8483 0.906166C15.7115 0.853827 15.5748 0.816684 15.4549 0.784606C15.4076 0.771099 15.3604 0.759281 15.3148 0.745774L15.2337 0.722137H14.4537L14.3558 0.759281C14.3423 0.762657 14.3305 0.767722 14.3136 0.776164C13.3631 0.973699 12.5983 1.62708 12.264 2.53203C11.9584 3.35425 12.0614 4.25244 12.5307 4.98687C12.1221 5.5609 11.7153 6.13494 11.3067 6.71066L10.6921 7.57846C9.52887 7.18001 8.41963 7.35054 7.44378 8.08158L5.06998 6.23792C5.13751 5.95091 5.14764 5.65038 5.10037 5.33973C4.92141 4.13764 3.84087 3.29178 2.59151 3.37789C1.42318 3.45386 0.462517 4.47193 0.44901 5.64532C0.437192 6.53 0.822132 7.23911 1.55993 7.69496C2.25553 8.12548 3.00346 8.17613 3.7362 7.84522C4.45711 8.40743 5.35362 9.1064 6.26701 9.80875C6.01713 10.6462 6.0796 11.4515 6.45441 12.2079C6.57766 12.4561 6.72792 12.6789 6.8765 12.8933L6.7887 13.0166C6.36831 13.6109 5.94116 14.2153 5.52414 14.8079C5.31479 14.7454 5.09699 14.688 4.86063 14.6678C4.00464 14.5969 3.20099 14.8754 2.59826 15.4528C1.98708 16.037 1.65448 16.8525 1.68656 17.6916C1.71864 18.5324 2.13059 19.3242 2.81605 19.8628C3.48632 20.3895 4.3288 20.6006 5.12907 20.4385C6.11337 20.241 6.92377 19.5859 7.2952 18.6877C7.63625 17.8672 7.57378 16.9335 7.13481 16.1417C7.67677 15.3819 8.16469 14.6931 8.61379 14.0498C9.17263 14.2119 9.73991 14.2237 10.3021 14.0836C10.8728 14.9345 11.489 15.8445 12.1779 16.8542C11.7946 17.4822 11.7136 18.2015 11.9415 18.9494C12.2707 20.0215 13.282 20.7221 14.3879 20.7221C14.5871 20.7221 14.788 20.7002 14.9889 20.6529C16.2586 20.3524 17.1044 19.1064 16.912 17.8148C16.7971 17.05 16.3666 16.3814 15.7284 15.983C15.1814 15.6419 14.523 15.5254 13.8831 15.6521C13.4897 15.0696 13.0946 14.4854 12.6996 13.903L12.0918 13.0014C12.2876 12.7752 12.4514 12.527 12.5848 12.2619C12.627 12.2703 12.6675 12.2805 12.7097 12.2889C12.9376 12.3362 13.174 12.3868 13.4154 12.4223C13.4272 12.4645 13.439 12.4983 13.4509 12.5253C13.4526 12.532 13.4559 12.5371 13.4576 12.5422C13.8189 13.6463 14.9569 14.3166 16.1201 14.1056C16.8512 13.9722 17.4792 13.4707 17.8 12.7667C18.1157 12.0762 18.082 11.2911 17.7122 10.6664ZM14.837 11.8111C14.8387 11.3451 15.2118 10.9754 15.6778 10.9754C16.1454 10.9771 16.5135 11.3485 16.5135 11.8145C16.5118 12.2822 16.1404 12.6519 15.6744 12.6502C15.2067 12.6485 14.8353 12.2754 14.837 11.8111ZM15.4465 18.1829C15.4414 18.7654 14.9585 19.2381 14.3727 19.233C13.7784 19.2263 13.3006 18.74 13.309 18.1491C13.3192 17.5683 13.8122 17.0855 14.3862 17.0956C14.9822 17.1057 15.4515 17.5869 15.4465 18.1829ZM4.60231 18.9713C3.81724 18.9646 3.19255 18.3331 3.19931 17.5514C3.20437 16.7714 3.84256 16.1468 4.62595 16.1569C5.3992 16.1653 6.02895 16.8001 6.02389 17.565C6.01713 18.3433 5.37557 18.9764 4.60231 18.9713ZM7.61261 10.766C7.6143 9.73446 8.48548 8.86497 9.52211 8.86159C10.5638 8.85653 11.4384 9.73277 11.4367 10.7762C11.435 11.8162 10.5723 12.6755 9.53056 12.6755C8.4821 12.6772 7.61261 11.8111 7.61261 10.766ZM14.8589 2.22982C15.5528 2.22982 16.1336 2.80723 16.1336 3.50113C16.1336 4.19673 15.5579 4.77076 14.8589 4.77076C14.1566 4.77076 13.5876 4.20179 13.5893 3.50113C13.591 2.79879 14.16 2.22982 14.8589 2.22982ZM2.78398 6.55533C2.32137 6.54858 1.94656 6.16533 1.94994 5.7061C1.955 5.24518 2.33488 4.87206 2.80086 4.87544C3.26177 4.87713 3.64334 5.26544 3.63321 5.72298C3.62477 6.18559 3.23983 6.56208 2.78398 6.55533Z"
                                                    fill="#72C7A7" />
                                            </svg>

                                        </a>
                                    </div>
                                    <!-- analysis -->
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 mb-2 p-2 d-flex justify-content-center" style="border: 2px solid black;">
                                        <a href="/affialiate">
                                            <svg width="80" height="80" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19.2319 19.7361L14.8819 15.3861M17.2319 9.73607C17.2319 14.1543 13.6502 17.7361 9.23195 17.7361C4.81367 17.7361 1.23195 14.1543 1.23195 9.73607C1.23195 5.31779 4.81367 1.73607 9.23195 1.73607C13.6502 1.73607 17.2319 5.31779 17.2319 9.73607Z"
                                                    stroke="#EC2227" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M13.2719 12.0972V7.77608M9.23195 12.0972V5.92416M5.19203 12.0972L5.19203 9.628" stroke="#EC2227" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>

                                        </a>
                                    </div>
                                    <!-- report -->
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 mb-2 p-2 d-flex justify-content-center" style="border: 2px solid black;">
                                        <a href="/reports">
                                            <svg width="80" height="80" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.2319 1.26894V5.39948C11.2319 5.95953 11.2319 6.23955 11.3409 6.45347C11.4368 6.64163 11.5898 6.79461 11.778 6.89048C11.9919 6.99948 12.2719 6.99948 12.8319 6.99948H16.9625M11.2319 15.9994H5.23195M13.2319 11.9994H5.23195M17.2319 8.98763V16.1994C17.2319 17.8796 17.2319 18.7196 16.905 19.3614C16.6173 19.9259 16.1584 20.3848 15.5939 20.6724C14.9522 20.9994 14.1121 20.9994 12.4319 20.9994H6.03195C4.35179 20.9994 3.51171 20.9994 2.86998 20.6724C2.30549 20.3848 1.84655 19.9259 1.55893 19.3614C1.23195 18.7196 1.23195 17.8796 1.23195 16.1994V5.79941C1.23195 4.11925 1.23195 3.27917 1.55893 2.63743C1.84655 2.07295 2.30549 1.61401 2.86998 1.32639C3.51171 0.999405 4.35179 0.999405 6.03195 0.999405H9.24372C9.9775 0.999405 10.3444 0.999405 10.6896 1.0823C10.9958 1.15579 11.2884 1.277 11.5568 1.44148C11.8596 1.62701 12.119 1.88644 12.6378 2.40529L15.8261 5.59352C16.3449 6.11237 16.6043 6.3718 16.7899 6.67455C16.9544 6.94297 17.0756 7.2356 17.1491 7.54171C17.2319 7.88697 17.2319 8.25386 17.2319 8.98763Z"
                                                    stroke="#9ACB3D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>

                                        </a>
                                    </div>

                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 mb-2 p-2 d-flex justify-content-center" style="border: 2px solid black;">
                                        <a href="/user_management">
                                            <svg width="80" height="80" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M20.9485 18.255C20.8653 17.9538 20.5974 17.8076 20.1123 17.5423L20.1009 17.5362C20.0125 17.488 19.9144 17.4337 19.8067 17.3742C19.6535 17.2884 19.6124 17.2367 19.5957 17.0135C19.5695 16.651 19.65 16.5065 19.9433 16.3935C20.079 16.341 20.1911 16.2701 20.3014 16.2009C20.3619 16.1633 20.4179 16.1274 20.4731 16.0993C20.7173 15.9741 20.8723 15.8043 20.9319 15.5968C20.994 15.3796 20.9502 15.1493 20.797 14.891C20.3724 14.1739 19.995 13.5199 19.6439 12.8912C19.5117 12.6566 19.3418 12.5103 19.1369 12.456C18.9276 12.4009 18.7096 12.4438 18.4706 12.5874C18.383 12.6399 18.2946 12.6881 18.1992 12.7406C18.0328 12.8325 17.8612 12.9271 17.6957 13.0427C17.6292 13.09 17.6204 13.0952 17.4111 13.0068C17.0486 12.8536 16.9471 12.6653 17.0101 12.2599C17.0539 11.9797 17.0478 11.7459 16.99 11.5446C16.9208 11.3011 16.6975 10.9991 16.3709 10.9115C16.3149 10.8958 16.3088 10.894 13.8282 10.88C13.5612 10.88 13.3493 10.9579 13.1961 11.1111C13.0437 11.2644 12.9667 11.478 12.9684 11.7451C12.9684 11.8029 12.9693 11.8598 12.9702 11.9176L12.971 11.9543C12.9746 12.2109 12.9772 12.4753 12.9623 12.7266C12.9614 12.7397 12.9474 12.773 12.9369 12.7879C12.5762 13.0637 12.4763 13.1372 11.9238 12.8194C11.9168 12.815 11.6489 12.6557 11.515 12.5751C11.2908 12.4403 11.0754 12.3983 10.874 12.4517C10.6718 12.5042 10.5037 12.646 10.3741 12.8728C9.91438 13.6775 9.53263 14.3377 9.17189 14.9506C9.0423 15.1721 9.00465 15.384 9.05894 15.581C9.11498 15.7841 9.2577 15.947 9.49673 16.0792C9.76466 16.2272 10.0448 16.39 10.3522 16.5774C10.3942 16.6028 10.4178 16.6186 10.4292 16.6273C10.5124 16.9128 10.3592 17.2674 10.0781 17.4294L10.0151 17.4653C9.95991 17.4968 9.89775 17.5318 9.83471 17.573C9.79093 17.6019 9.73576 17.6316 9.67622 17.664C9.49761 17.7603 9.27521 17.8812 9.16138 18.1044C9.06769 18.2874 9.05456 18.4249 9.73401 19.7558C10.0527 20.3801 10.3837 20.9851 10.3933 21.0017C10.5203 21.2136 10.684 21.3467 10.8802 21.3958C11.0772 21.4457 11.2864 21.4054 11.5009 21.2767C11.5938 21.2206 11.6892 21.1672 11.7873 21.1121C11.9589 21.0158 12.1357 20.9168 12.3082 20.7995C12.3713 20.7566 12.3809 20.7496 12.6033 20.8415C12.9483 20.9851 13.0393 21.1585 12.9781 21.5577C12.9527 21.725 12.9597 21.8808 12.9667 22.0323L12.9675 22.0446C12.9693 22.0787 12.971 22.112 12.9719 22.1461C12.9868 22.6496 13.2854 22.9499 13.7766 22.9499C14.6907 22.9464 15.4919 22.9464 16.2335 22.9499C16.7124 22.9499 17.0049 22.6636 17.0171 22.1855L17.0215 22.0376C17.0294 21.7749 17.0373 21.5026 17.0145 21.2294C17.0075 21.1357 17.0049 21.1103 17.2098 20.9545C17.511 20.7259 17.7053 20.7321 18.0092 20.9807C18.1212 21.0718 18.2429 21.1348 18.3506 21.1917C18.4032 21.2189 18.4531 21.2452 18.4986 21.2723C18.7158 21.4054 18.9276 21.4474 19.1282 21.3958C19.333 21.3432 19.5047 21.1988 19.6386 20.965C19.7621 20.7487 19.8864 20.5342 20.0107 20.3188L20.0318 20.282C20.1631 20.0552 20.2936 19.8293 20.4231 19.6017C20.4879 19.4887 20.5466 19.3872 20.6035 19.2909C20.8793 18.8163 21.0326 18.5554 20.9485 18.255ZM15.5812 20.7986C15.5934 21.0236 15.5917 21.2522 15.589 21.4973H14.4377C14.4455 21.2338 14.4525 20.9615 14.4105 20.6892C14.3632 20.3888 14.1277 20.1664 13.9044 19.9887L13.2092 19.5089L13.1978 19.5019C12.5875 19.1227 12.2119 19.121 11.7085 19.4984C11.5999 19.5798 11.4703 19.6498 11.3214 19.7286C11.1411 19.4178 10.9625 19.1105 10.7803 18.797L10.7331 18.7156H10.7339C10.9441 18.5886 11.142 18.4687 11.3433 18.3619C11.747 18.1473 11.8722 17.9083 11.8573 17.3812L11.8503 16.3778L11.8485 16.3506C11.8232 16.1029 11.7102 15.7719 11.472 15.5854C11.2444 15.405 11.001 15.2702 10.7427 15.1266L10.7383 15.1239L11.3153 14.1232L11.332 14.1328C11.5482 14.2545 11.7522 14.3692 11.9536 14.4944C12.3152 14.7186 12.6646 14.7028 13.0218 14.4445C13.2574 14.2729 13.5332 14.1153 13.8668 13.9612C14.2573 13.7817 14.4473 13.4761 14.4333 13.0523C14.4254 12.8334 14.4271 12.6128 14.4289 12.3772H15.5882C15.5908 12.5918 15.5934 12.8115 15.5812 13.0243C15.5558 13.4752 15.7467 13.7852 16.1652 13.9726C16.469 14.1091 16.7378 14.2632 16.9637 14.4314C17.3236 14.701 17.6983 14.7177 18.0775 14.4804C18.2666 14.3622 18.4671 14.2466 18.6807 14.1258L18.6886 14.1214L19.2753 15.1345L19.2647 15.1406C19.0467 15.2702 18.8418 15.3919 18.6352 15.4987C18.2587 15.6948 18.095 16.0039 18.1335 16.4435C18.1458 16.5827 18.1414 16.7289 18.137 16.8847C18.1309 17.0818 18.1247 17.2866 18.1536 17.4968C18.1843 17.7314 18.3112 18.079 18.5652 18.2848C18.7814 18.459 19.0143 18.586 19.2665 18.7226C19.0747 19.0553 18.8874 19.3828 18.6921 19.7216L18.6737 19.7111C18.4557 19.5894 18.2508 19.4747 18.0486 19.3521C17.6729 19.1245 17.3236 19.1446 16.9795 19.4126C16.7518 19.5886 16.4804 19.7462 16.1932 19.867C16.033 19.9318 15.5461 20.1358 15.5812 20.7986Z"
                                                    fill="#72C056" />
                                                <path
                                                    d="M17.2741 16.9201C17.2721 15.6814 16.2601 14.6707 15.0201 14.6674C15.0155 14.6674 15.0109 14.6674 15.0063 14.6674C14.3968 14.6674 13.8269 14.902 13.3986 15.3289C12.9737 15.7526 12.7398 16.3192 12.7404 16.9241C12.7404 18.1555 13.7478 19.1675 14.9865 19.18H15.0109C15.6085 19.18 16.1738 18.9461 16.6027 18.5211C17.0362 18.0922 17.2747 17.5236 17.2741 16.9201ZM14.1926 16.0669C14.4126 15.8541 14.6973 15.7368 14.9957 15.7368H15.0148C15.6684 15.7473 16.1777 16.2744 16.1744 16.9366C16.1724 17.2548 16.0506 17.5493 15.8305 17.7654C15.6118 17.9802 15.3166 18.0981 14.9977 18.0981H14.9904C14.6775 18.0962 14.3836 17.9716 14.1636 17.747C13.9429 17.5216 13.8229 17.2245 13.8276 16.9102C13.8322 16.5907 13.962 16.2909 14.1926 16.0669Z"
                                                    fill="#72C056" />
                                                <path
                                                    d="M6.99242 14.38C5.59685 14.38 4.89907 14.38 4.33127 14.5522C3.05287 14.94 2.05246 15.9404 1.66466 17.2188C1.49242 17.7866 1.49242 18.4844 1.49242 19.88M13.9924 6.37999C13.9924 8.86527 11.9777 10.88 9.49242 10.88C7.00713 10.88 4.99242 8.86527 4.99242 6.37999C4.99242 3.89471 7.00713 1.87999 9.49242 1.87999C11.9777 1.87999 13.9924 3.89471 13.9924 6.37999Z"
                                                    stroke="#72C056" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>


                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- content end-->

                    <!-- Footer start-->
                    <%-include('footer.ejs')-%>
                        <!-- Footer end-->
                </div>
                <!-- Page Content end -->


    </div>
    <!-- END wrapper -->

    <!-- Right Sidebar -->
    <%-include('right_sidebar.ejs')-%>
        <!-- /Right Sidebar-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- Vendor -->
        <script src="/assets/libs/jquery/jquery.min.js"></script>
        <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="/assets/libs/node-waves/waves.min.js"></script>
        <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
        <script src="/assets/libs/feather-icons/feather.min.js"></script>

        <script src="/assets/libs/selectize/js/standalone/selectize.min.js"></script>
        <script src="/assets/libs/mohithg-switchery/switchery.min.js"></script>
        <script src="/assets/libs/multiselect/js/jquery.multi-select.js"></script>
        <script src="/assets/libs/select2/js/select2.min.js"></script>
        <script src="/assets/libs/jquery-mockjax/jquery.mockjax.min.js"></script>
        <script src="/assets/libs/devbridge-autocomplete/jquery.autocomplete.min.js"></script>
        <script src="/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
        <script src="https://coderthemes.com/adminto/layouts//assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

        <!-- Init js-->
        <script src="/assets/js/pages/form-advanced.init.js"></script>

        <!-- App js -->
        <script src="/assets/js/app.min.js"></script>

</body>

</html>